@using Blazor.Diagrams.Core.Models
@using Blazor.Diagrams.Core.Models.Base;

<div class="node-details mt-3 p-3 border rounded" style="width: @(_selectedNode.Size!.Width)px; padding: 5px;">
    <h6>Детали ресурса</h6>
    <p><strong>Адрес:</strong> @_selectedNode.Resource.Address</p>
    <p><strong>Тип:</strong> @_selectedNode.Resource.Type</p>
    <p><strong>Статус:</strong> @_selectedNode.Resource.Status</p>
    <p><strong>Действие:</strong> @_selectedNode.Resource.Action</p>
    <p><strong>Длительность:</strong> @_selectedNode.Resource.Duration</p>

    @if (_selectedNode.Resource.Errors.Any())
    {
        <div class="alert alert-danger mt-2">
            <h6>Ошибки:</h6>
            @foreach (var error in _selectedNode.Resource.Errors)
            {
                <p>@error.Message</p>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public NodeInformationControl Control { get; set; } = null!;

    [Parameter]
    public GraphNode Model { get; set; } = null!;

    public GraphNode _selectedNode => (Model as GraphNode)!;
}
